# Виртуальное окружение
venv/

# Кеш и байткод
__pycache__/
*.py[cod]

# Файлы и каталоги IDE
.idea/
*.sublime-project
*.sublime-workspace

# Базы данных
*.sqlite3

# Настройки среды
.env

# Логи
*.log

# Файлы ОС
.DS_Store
Thumbs.db